*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    background-color: white;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -27px 29px black;
}
.myntra_logo{
    height: 45px;
    width: 58px;
}
.logo-main{
    margin-left: 2%;
}
.profile-menu{
    margin-right: 2%;
}
.nav-bar{
    display: flex;
    min-width: 515px;
    width: 700px;
    justify-content: space-evenly;
}
.nav-bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    padding: 29px 0px;
    border-bottom: 2.5px solid white;
}
.nav-bar a:hover{
    border-bottom: 2.5px solid red;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #f5f5f6;
    min-width: 200px;
    width: 30%;
}
div span{
    width: 40px;
}
#s_logo{
    height: 14px;
    aspect-ratio: 1;
    margin-left: 16px;
}
.p_logo{
    height: 24px;
    aspect-ratio: 1;
    background-color: white;
}
a{
    text-decoration: none;
}
input {
    height: 40px;
    width:482px;
    border: none;
    background-color: #f5f5f6;
}
.profile-menu{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.profile-menu a span{
    color: black;
    font-weight: 500;
}
#logo1,#logo2{
    margin-left: 13px;
}
.nav-bar a sup{
    color:red;
    font-size: 10px;
}
#offer_img{
    margin-top: 20px;
    width: 100%  ;
}
#banner
{
    margin-top: 20px;
    width: 100% ;
}
.text,.text2 h4{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 3px;
    font-size: 24px;
    margin:50px 0px 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.offer,.category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.offer_image{
    width: 250px;
}
.main_footer{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 40px 0px;
    background-color: #FAFBFC;
}
.first_footer,.second_footer,.third_footer{
    display: flex;
    flex-direction: column;
    color: black;
}
.first_footer a{
    color: #696b79;
    font-size: 15px;
}
.second_footer a{
    color: #696b79;
    font-size: 15px;
}
.third_footer a{
    color: #696b79;
    font-size: 15px;
}